.discover {
    margin-top: 30px;

    &__filter {
        padding: 20px;
        display: inline-block;

        &-rating {
            padding-left: 10px;
        }
    }

    &__card-movie {
        padding: 10px;
        width: 18rem;
    }
}